<div>
  <div *ngIf="candidate == null">
    <h1>אנא בחר מועמד בדף המועמדים</h1>
  </div>
  <div *ngIf="candidate !== null">
    <div class="flex-row rtl">
      <h1>שאלון 9BOX - </h1>
      <h1>{{candidate.name}}</h1>
    </div>

    <div class="basic-info">
      <mat-checkbox class="checkbox" [(ngModel)]="questionnaireAnswers.isDirectCommander">האם מפקד ישיר</mat-checkbox>
      <input class="rtl ma-input" matInput type="number" placeholder="אנא מלא מספר אישי" [(ngModel)]="questionnaireAnswers.commanderMA">
    </div>
    <div class="quiz">
      <div class="section">
        <h1>פוטנציאל</h1>
        <div>
          <div>
            <button mat-icon-button (click)="decreaseShit('potential1')"> - </button>
            <input matInput class="num-input" type="number" min="1" step="1" max="7" [(ngModel)]="questionnaireAnswers.potential1">
            <button mat-icon-button (click)="increaseShit('potential1')"> + </button>
            <span>:בעל יכולות פיקוד</span>
          </div>
          <div>
            <button mat-icon-button (click)="decreaseShit('potential2')"> - </button>
            <input matInput class="num-input" type="number" min="1" step="1" max="7" [(ngModel)]="questionnaireAnswers.potential2">
            <button mat-icon-button (click)="increaseShit('potential2')"> + </button>
            <span>:בעל פוטנציאל לקידום</span>
          </div>
          <div>
            <button mat-icon-button (click)="decreaseShit('potential3')"> - </button>
            <input matInput class="num-input" type="number" min="1" step="1" max="7" [(ngModel)]="questionnaireAnswers.potential3">
            <button mat-icon-button (click)="increaseShit('potential3')"> + </button>
            <span>:בעל ראייה מערכתית</span>
          </div>
        </div>
      </div>
      <div class="section">
        <h1>ביצוע</h1>
        <div>
          <div>
            <button mat-icon-button (click)="decreaseShit('bitzua1')"> - </button>
            <input matInput class="num-input" type="number" min="1" step="1" max="7" [(ngModel)]="questionnaireAnswers.bitzua1">
            <button mat-icon-button (click)="increaseShit('bitzua1')"> + </button>
            <span>:בעל ידע מקצועי</span>
          </div>
          <div>
            <button mat-icon-button (click)="decreaseShit('bitzua2')"> - </button>
            <input matInput class="num-input" type="number" min="1" step="1" max="7" [(ngModel)]="questionnaireAnswers.bitzua2">
            <button mat-icon-button (click)="increaseShit('bitzua2')"> + </button>
            <span>:מצליח בתפקידו</span>
          </div>
          <div>
            <button mat-icon-button (click)="decreaseShit('bitzua3')"> - </button>
            <input matInput class="num-input" type="number" min="1" step="1" max="7" [(ngModel)]="questionnaireAnswers.bitzua3">
            <button mat-icon-button (click)="increaseShit('bitzua3')"> + </button>
            <span>:מביא פרוייקטים לכדי מימוש ויישום</span>
          </div>
        </div>
      </div>
    </div>
    <button color="accent" mat-raised-button [ngClass]="{'disabled': !canSave()}" [disabled]="!canSave()" (click)="saveQuestionnaire()">שמור שאלון</button>
  </div>
</div>
