.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  h1 {
    margin: 2px;
  }
}

.quiz {
  display: flex;
  flex-direction: row;

  div {
    flex-grow: 1;
  }
}

.section {
  border: solid white 1px;
  margin: 10px;
  width: 40%;
}

.num-input {
  width: 5vw;
  text-align: center;
  padding: 0;
  font-size: 28px;
  border: 1px solid white;
  line-height: 20px;
  margin: 0;
  background: transparent;
  color: white;
}

.basic-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

::ng-deep .mat-checkbox-background {
  background-color: #2e2c2c !important;
}
::ng-deep .mat-checkbox-label {
  margin-right: 8px;
}
.checkbox {
  direction: rtl;
  border: solid white 1px;
  padding: 5px;
  margin-right: 5px;
}
.ma-input {
  margin-right: 10px;
}

