<div>
  <div *ngIf="candidates.length === 0">
    <h1 class="rtl">{{displayText}}</h1>
  </div>

  <div *ngIf="candidates.length > 0">
    <h1 class="rtl">בחר אנשים ל9BOX</h1>

    <div class="table-controls">
      <div>
        <button color="accent" mat-raised-button (click)="chooseAll()">בחר הכל</button>
        <button color="accent" mat-raised-button [ngClass]="{'disabled': !isAnyChosen()}" [disabled]="!isAnyChosen()"
                (click)="cleanChosen()">נקה בחירה
        </button>
      </div>
      <div class="row">
        <mat-select placeholder="בחר מחזורים" class="multi-select" [(value)]="chosenCycles" multiple>
          <mat-option *ngFor="let cycle of cycles" [value]="cycle">
            {{cycle.name}}
          </mat-option>
        </mat-select>
        <input class="rtl" matInput type="text" placeholder="סנן.." [(ngModel)]="filterText" (ngModelChange)="filter()">
      </div>
    </div>

    <div class="table-container">
      <table mat-table [dataSource]="filteredCandidates" class="table">
        <ng-container matColumnDef="MA">
          <th mat-header-cell *matHeaderCellDef>מספר אישי</th>
          <td mat-cell *matCellDef="let element">{{element.MA}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>שם</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>

        <ng-container matColumnDef="age">
          <th mat-header-cell *matHeaderCellDef>גיל</th>
          <td mat-cell *matCellDef="let element">{{element.age}}</td>
        </ng-container>

        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef>מין</th>
          <td mat-cell *matCellDef="let element">{{element.gender}}</td>
        </ng-container>

        <ng-container matColumnDef="tafkid">
          <th mat-header-cell *matHeaderCellDef>תפקיד</th>
          <td mat-cell *matCellDef="let element">{{element.tafkid}}</td>
        </ng-container>

        <ng-container matColumnDef="darga">
          <th mat-header-cell *matHeaderCellDef>דרגה</th>
          <td mat-cell *matCellDef="let element">{{element.darga}}</td>
        </ng-container>

        <ng-container matColumnDef="vetek">
          <th mat-header-cell *matHeaderCellDef>וותק</th>
          <td mat-cell *matCellDef="let element">{{element.vetek}}</td>
        </ng-container>

        <ng-container matColumnDef="slavesSum">
          <th mat-header-cell *matHeaderCellDef>מס חיילים</th>
          <td mat-cell *matCellDef="let element">{{element.slavesSum}}</td>
        </ng-container>

        <ng-container matColumnDef="mador">
          <th mat-header-cell *matHeaderCellDef>מדור</th>
          <td mat-cell *matCellDef="let element">{{element.mador}}</td>
        </ng-container>

        <ng-container matColumnDef="anaf">
          <th mat-header-cell *matHeaderCellDef>ענף</th>
          <td mat-cell *matCellDef="let element">{{element.anaf}}</td>
        </ng-container>

        <ng-container matColumnDef="merkaz">
          <th mat-header-cell *matHeaderCellDef>מרכז</th>
          <td mat-cell *matCellDef="let element">{{element.merkaz}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row [ngClass]="{'table-selected-row': isRowSelected(row)}" class="table-row" (click)="clickRow(row)"
            *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <div>
      <button class="margin" color="accent" mat-raised-button [ngClass]="{'disabled': !canCalc9box()}"
              [disabled]="!canCalc9box()" (click)="calc9box()">חשב!!!
      </button>
    </div>
  </div>

  <div class="margin">
    <div *ngIf="isLoading">
      <h1>{{displayText}}</h1>
    </div>
    <div class="data-container" *ngIf="!isLoading && chartData !== null">
      <div class="chart">
        <canvasjs-chart [options]="chartData" [styles]="{width: '100%', height:'750px'}"></canvasjs-chart>
      </div>
      <div *ngIf="invalidData.length > 0" class="extra-data">
        <b>אנשים שלא ניתן להציג</b>
        <table class="table">
          <tr>
            <th>שם</th>
            <th>אין שאלון מפקד ישיר</th>
            <th>אין סוציומטרי</th>
          </tr>
          <tr *ngFor="let candidate of invalidData">
            <td>{{candidate.name}}</td>
            <td>{{!candidate['hasDirectCommander'] ? "X" : ""}}</td>
            <td>{{!candidate['hasSotzyometry'] ? "X" : ""}}</td>
          </tr>
        </table>
      </div>
      <div class="extra-data">
        <b>מידע גולמי</b>
        <table class="table">
          <tr>
            <th>שם</th>
            <th>ביצוע 1</th>
            <th>ביצוע 2</th>
            <th>ביצוע 3</th>
            <th>פוטנציאל 1</th>
            <th>פוטנציאל 2</th>
            <th>פוטנציאל 3</th>
            <th>סוציומטרי ביצוע</th>
            <th>סוציומטרי פוטנציאל</th>
            <th>ממלא השאלון</th>
            <th>האם מפקד ישיר</th>
          </tr>
          <ng-container *ngFor="let nineBoxDataArray of nineBoxDataDictValues">
            <ng-container *ngFor="let nineBoxData of nineBoxDataArray">
              <tr *ngFor="let quiz of nineBoxData.quizes">
                <td>{{nineBoxData.candidate.name}} - {{nineBoxData.cycle.name}}</td>
                <td>{{quiz.bitzua1}}</td>
                <td>{{quiz.bitzua2}}</td>
                <td>{{quiz.bitzua3}}</td>
                <td>{{quiz.potential1}}</td>
                <td>{{quiz.potential2}}</td>
                <td>{{quiz.potential3}}</td>
                <td>{{nineBoxData.sotzyomeryResult !== null ? nineBoxData.sotzyomeryResult.bitzuaScore : '-'}}</td>
                <td>{{nineBoxData.sotzyomeryResult !== null ? nineBoxData.sotzyomeryResult.potentialScore : '-'}}</td>
                <td>{{quiz.commanderMA}}</td>
                <td>{{quiz.isDirectCommander ? '✔' : 'X'}}</td>
              </tr>
            </ng-container>
          </ng-container>
        </table>
      </div>
      <div class="extra-data">
        <b>מידע 9BOX</b>
        <table class="table">
          <tr>
            <th>שם</th>
            <th>ביצוע</th>
            <th>פוטנציאל</th>
          </tr>
          <ng-container *ngFor="let nineBoxDataArray of nineBoxDataDictValues">
            <tr *ngFor="let nineBoxData of nineBoxDataArray">
              <td>{{nineBoxData.candidate.name}} - {{nineBoxData.cycle.name}}</td>
              <td>{{nineBoxData.results && nineBoxData.results.bitzua}}</td>
              <td>{{nineBoxData.results && nineBoxData.results.potential}}</td>
            </tr>
          </ng-container>
        </table>
      </div>
    </div>
  </div>

</div>
