.table-container {
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
  flex-grow: 4;
}
.table {
  width: 100%;
  direction: rtl;
  text-align-last: center;
  background-color: lightblue;
  color: black;
}
.table-row:hover {
  background-color: dimgrey;
  cursor: pointer;
}
.table-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.table-selected-row {
  background-color: forestgreen;
}

.margin {
  margin-top: 1%;
}

.data-container {
  text-align: -webkit-center;
  display: flex;
  flex-direction: column;
}

.chart {
  flex-grow: 4;
}

.extra-data {
  margin: 2%;
}

.row {
  display: flex;
  flex-direction: row;
  width: 354px;
}

.multi-select {
  height: 35px;
  direction: rtl;
  background-color: white;
  margin-right: 1%;
}

