.invis {
  display: none;
}

.upload-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.add-candidate-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid white;
  margin-top: 1%;
}
.add-candidate-sub-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin: 1%;

  input {
    width: 10%;
  }
}

.cycle-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  direction: rtl;
}

.multi-select {
  width: 15%;
  height: 35px;
  direction: rtl;
  background-color: white;
  margin-right: 1%;
}
