<div class="cycle-title" *ngIf="cycles.length > 0">
  <h1>מחזור נוכחי: </h1>
  <h1>{{cycles[cycles.length - 1].name}}</h1>
</div>

<div class="upload-buttons-container">
  <button color="accent" mat-raised-button (click)="clickButton('sotzyometryInput')">העלה תוצאות סוציומטרי</button>
  <button color="accent" mat-raised-button (click)="clickButton('candidatesInput')">העלה מועמדים לשאלון</button>
  <button color="accent" mat-raised-button (click)="deleteCandidates()">מחיקת רשימת מועמדים קיימת</button>
  <button color="accent" mat-raised-button (click)="showAddCandidateDiv()">הוספת מועמד יחיד</button>
  <button color="accent" mat-raised-button (click)="showAddSotzyometryDiv()">הוספת תוצאת סוציומטרי יחידה</button>
  <button color="accent" mat-raised-button (click)="showCycleDiv()">פתיחת מחזור חדש</button>
</div>

<div class="add-candidate-container" *ngIf="showAddCandidateDivv">
  <div class="add-candidate-sub-container">
    <input class="rtl" matInput type="number" placeholder="מספר אישי" [(ngModel)]="candidate.MA">
    <input class="rtl" matInput type="text" placeholder="שם" [(ngModel)]="candidate.name">
    <input class="rtl" matInput type="number" placeholder="גיל" [(ngModel)]="candidate.age">
    <mat-select placeholder="מין" class="multi-select" [(value)]="candidate.gender">
      <mat-option [value]="'זכר'">זכר</mat-option>
      <mat-option [value]="'נקבה'">נקבה</mat-option>
    </mat-select>
    <input class="rtl" matInput type="text" placeholder="תפקיד" [(ngModel)]="candidate.tafkid">
    <input class="rtl" matInput type="number" placeholder="מספר חיילים" [(ngModel)]="candidate.slavesSum">
  </div>
  <div class="add-candidate-sub-container">
    <input class="rtl" matInput type="text" placeholder="מרכז" [(ngModel)]="candidate.merkaz">
    <input class="rtl" matInput type="text" placeholder="ענף" [(ngModel)]="candidate.anaf">
    <input class="rtl" matInput type="text" placeholder="מדור" [(ngModel)]="candidate.mador">
    <input class="rtl" matInput type="text" placeholder="דרגה" [(ngModel)]="candidate.darga">
    <input class="rtl" matInput type="number" placeholder="וותק" [(ngModel)]="candidate.vetek">
  </div>
  <div class="add-candidate-sub-container">
    <button color="accent" mat-raised-button [ngClass]="{'disabled': !canAddCandidate()}" [disabled]="!canAddCandidate()" (click)="addCandidate()">הוסף מועמד יחיד</button>
    <button color="accent" mat-raised-button (click)="hideAddCandidateDiv()">בטל</button>
  </div>
</div>

<div class="add-candidate-container" *ngIf="showAddSotzyometryDivv">
  <div class="add-candidate-sub-container">
    <input class="rtl" matInput type="number" placeholder="מספר אישי" [(ngModel)]="sotzyometry.MA">
    <input class="rtl" matInput type="number" min="1" max="7" placeholder="ציון ביצוע" [(ngModel)]="sotzyometry.bitzuaScore">
    <input class="rtl" matInput type="number" min="1" max="7" placeholder="ציון פוטנציאל" [(ngModel)]="sotzyometry.potentialScore">
    <mat-select placeholder="בחר מחזור" class="multi-select" [(value)]="sotzyometry.cycleId">
      <mat-option *ngFor="let cycle of cycles" [value]="cycle._id">
        {{cycle.name}}
      </mat-option>
    </mat-select>
  </div>
  <div class="add-candidate-sub-container">
    <button color="accent" mat-raised-button [ngClass]="{'disabled': !canAddSotzyometry()}" [disabled]="!canAddSotzyometry()" (click)="addSotzyometry()">הוסף סוציומטרי יחיד</button>
    <button color="accent" mat-raised-button (click)="hideAddSotzyometryDiv()">בטל</button>
  </div>
</div>

<div class="add-candidate-container" *ngIf="showCycleDivv">
  <div class="add-candidate-sub-container">
    <input class="rtl" matInput type="text" placeholder="שם מחזור" [(ngModel)]="cycleName">
  </div>
  <div class="add-candidate-sub-container">
    <button color="accent" mat-raised-button [ngClass]="{'disabled': !canAddCycle()}" [disabled]="!canAddCycle()" (click)="addCycle()">פתח מחזור חדש!</button>
    <button color="accent" mat-raised-button (click)="hideCycleDiv()">בטל</button>
  </div>
</div>

<input id="candidatesInput" class="invis" type="file" (change)="readExcel($event)">
<input id="sotzyometryInput" class="invis" type="file" (change)="readExcel2($event)">
