<h1>התחברות מנהל מערכת</h1>
<div class="login">
  <input class="rtl" matInput type="text" placeholder="ססמא" [(ngModel)]="password">
  <input class="rtl" matInput type="text" placeholder="שם משתמש" [(ngModel)]="username">
</div>
<button color="accent" mat-raised-button (click)="login()">התחבר</button>
