<div>
  <div *ngIf="candidates.length === 0">
    <h1>{{text}}</h1>
  </div>
  <div *ngIf="candidates.length > 0">
    <div class="controls">
      <input class="rtl" matInput type="text" placeholder="סנן.." [(ngModel)]="filterText" (ngModelChange)="filter()">
      <h1>מועמדים</h1>
    </div>
    <div class="candidates-container">
      <button class="child" *ngFor="let candidate of filteredCandidates" color="accent" mat-raised-button (click)="openQuiz(candidate)" routerLink="/questionnaire">{{candidate.name}}</button>
    </div>
  </div>
</div>
