<span id="home" routerLink="/" class="title">9 <mat-icon svgIcon="box"></mat-icon></span>
<div class="navbar">
  <div>
    <button mat-icon-button  routerLink="/questionnaire">
      <mat-icon svgIcon="quiz"></mat-icon>
    </button>
    <button mat-icon-button routerLink="/candidates">
      <mat-icon svgIcon="candidates"></mat-icon>
    </button>
  </div>
  <div>
    <button *ngIf="isAdmin()" mat-icon-button routerLink="/9box">
      <mat-icon svgIcon="9box"></mat-icon>
    </button>
    <button *ngIf="isAdmin()" mat-icon-button routerLink="/admin">
      <mat-icon svgIcon="admin"></mat-icon>
    </button>
    <button *ngIf="!isAdmin()" mat-icon-button routerLink="/login">
      <mat-icon svgIcon="login"></mat-icon>
    </button>
  </div>
</div>
<router-outlet></router-outlet>
