.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  padding-top: 5%;
}

.title {
  margin-top: 3%;
  font-size: 65px;
  float: left;
  letter-spacing: -9px;
  cursor: pointer;
}
