/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: black;
  color: white
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center {
  width: 90%;
  height: 100%;
  margin: auto;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.rtl {
  direction: rtl;
}

::ng-deep .mat-select-trigger {
  height: 100% !important;
}

.disabled {
  background-color: beige !important;
}

button {
  font-size: 25px !important;
}
input {
  font-size: 16px !important;
}
