<div class="cols-container">
  <h1>כללי:</h1>
  <span>9BOX הוא כלי אינטליגנטי ופשוט השנשען על אינטגרציה בין כלי הערכה שונים כאשר לכלי שתי תכליות</span>
  <span>1. טיוב תהליכי פיתוח</span>
  <span>2. טיוב תהליכי הערכה</span>
  <span>כלי ה9BOX בנוי על שני צירים במרחב</span>
  <span>1. ציר הפוטנציאל - זיהוי פוטנציאל הקצין לפעילות ותפקידים מורכבים יותר בפן המקצועי והפיקודי</span>
  <span>2. ציר הביצוע - יכולות הקשורות בביצוע התפקיד אותו מבצע הקצין כעת</span>
  <span>שני הצירים מורכבים ממדדי פוטנציאל וביצוע בסוציומטרי ומציוני הביצוע והפוטנציאל שיכזרו מהשאלון שלפניכם</span>
  <span>האינטגרציה של שני הצירים במרחב מייצרת צין 9BOX סופי לכל קצין תוך פילוח הקצינים למספר קבוצות מ 1-9</span>
  <span>מיפוי זה מאפר לראות את פריסת המועמדים הרלוונטיים במרחב אחד, לתכן צירים פיתוח של הפרט</span>
  <span>ולתכנן כיצד יראו הקידומים לעונה הקרובה במטרה למצות את הקצינים הטובים ביותר</span>
  <br>
  <h1>הוראות למילוי:</h1>
  <span>בשאלון הנך מתבקש להעריך כל מועמד לפי חוות דעתך האישית באשר לפוטנציאל הקידום לתפקיד ניהולי/פיקודי ובנוסף, להעריך את ביצועיו של הקצין בתפקידו כעת.</span>
  <span>יש לדרג את כלל הקצינים שהינך מכיר את ביצועיהם ותפקודם ולסמן על כל אחד מהם האם אתה מפקדו הישיר.</span>
  <span>יש לדרג את הקצינים בשאלות המתאימות בסקאלה של 1-7 לפי ההשוואה לממצוע היחידתי.</span>
  <span>כלומר, ציונים 1-2 ינתנו לקצינים שלדעתך נמצאים מתחת לממוצע היחדתי, 3-4 לקצינים שלדעתך בממוצע ו5-7 שלדעתך מעל הממוצע</span>
</div>
